body {background-color: rgba(255, 255, 255, 0.959);
}

p{color: rgb(255, 0, 0);

}

.bacalhau{ color: blueviolet ;
font-style: italic;
padding: 15px;
}


h2 { 
    border: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

