body {background-color: rgba(255, 255, 255, 0.959);
}

p{color: rgb(255, 0, 0);

}

.bacalhau{ color: blueviolet ;
font-style: italic;
padding: 15px;
}


h2 { 
    
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

.marildo{border-bottom: 4px color(srgb rgb(255, 0, 0) rgb(31, 185, 212) blue);}