body {background-color: rgba(255, 255, 255, 0.959);
    margin: 5px;
}

p{color: rgb(255, 0, 0);
font-style: oblique;

}

.bacalhau { color: blueviolet ;
font-style: italic;
padding: 10px;
text-decoration: overline;
}


h2 { 
    padding: 20px;
    font-size: 40px;
    color: rgb(42, 122, 228);
}

.Azazel { color: aqua;
border-bottom: 4px color(srgb rgb(255, 0, 0) rgb(31, 185, 212) blue);
}
ol {text-align: center;

}